<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.symphony.springcloud.dao.PaymentDao">
  <!--新增映射-->
  <insert id="create" parameterType="Payment" useGeneratedKeys="true" keyProperty="id">
    insert into payment(serial) values (#{serial});
  </insert>

  <!--查询结果集映射-->
  <resultMap id="BaseResultMap" type="com.symphony.springcloud.entities.Payment">
    <id column="id" property="id" jdbcType="BIGINT"/>
    <id column="serial" property="serial" jdbcType="VARCHAR"/>
  </resultMap>

  <!--查询映射-->
  <select id="getPaymentById" parameterType="Long" resultMap="BaseResultMap">
    select * from payment where id=#{id};
  </select>

</mapper>